<div class="nav_bar_container" >
  <div>
  </div>
  <% if user_signed_in? %>
    <%= button_to "Log out", destroy_user_session_path, method: :delete %>
  <% else %>
    <div class="logo_slogan">
      <h2 class="logo_slogan_text">
        Find Flights, Drinks, and Relaxation. Welcome to New Day Airlines
      </h2>
    </div>
    <%= image_tag "new_day_airlines.png", { :class => "image_fade_animation"} %>
    <div class="nav_bar_items">
      <%= link_to "Register", new_user_registration_path %>
    </div>
  <% end %>
  <div>
  </div>
</div>