<%= render "index_nav_bar" %>
<div class="flight_search_nav_container">
<div class="flight_search_box">
<div>
Enter your passenger email to get your booking and flight details.
Remember, you still need to provide I.D. when boarding
<div>
<div id="root">
    <!-- This element's contents will be replaced with your component. -->
</div>
Search bar
</div>
</div>
</div>
</div>
<%= render "footer_nav_bar" %>