/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     margin: 0;
     height: 100%;
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

 html {
    height: 100%;
    background-color: whitesmoke;
 }
 
 a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
.logo_slogan {
    font-style: italic;
    display: flex;
    min-height: 100%;
    animation-duration: 3s;
    animation-name: fadein;
}

.mystery {
    width: 15px;
    height: 15px;
}
.nav_bar_container {
    display: flex;
    border: 20px;
    justify-content: space-between;
    height: 14%;
    align-items: center;
    color: black;
    background-color: whitesmoke;
    justify-content: center;
    gap: 5px;
}

.promo_acceptance {
    display: none;
}



.flight_search_nav_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 68%;
    background-color: whitesmoke;
    color: white;
    overflow: auto;
    padding-top: 50px;
}

.flight_search_box {
    height: 60%;
    width: 100%;
    overflow: auto;
    padding: 5px;
    overflow: auto;
    background-image: url("https://images.pexels.com/photos/1822685/pexels-photo-1822685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10%;
    
}

.flight_search_result_box {
    height: 100%;
    min-width: 31%;
}

.radio_button_text {
    margin-left: 5px;
}

.center_box {
    padding-top:30%;
}

.flight_search_option {
    margin-bottom: 10px;
    border-right: 5px;
    border: solid 3px grey;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    height: 55px;   
    display:flex;
    flex-direction:column;
    align-items: center;
}

.logo_slogan_text {
    align-self: flex-end;
    margin:0;
}

.image_fade_animation {
    animation-duration: 7s;
    animation-name: fadein;
    position: absolute;
}

.flight_result_option {
    margin-bottom: 10px;
    border-right: 5px;
    border: solid 1px black;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    margin-left: 5px;
    width: 70%;
    display: flex;
    column-count: 2;
    justify-content: space-around;
    color: black;
}

.flight_selector {
    width: 65%;
}

.logo {
    max-height: 55%;
    align-self: start;
}

.number_selector {
    width: 50px;
}

.flight_airport {
    align-self: center;
}
.flight_search_options {
    display: flex;
    column-count: 5;
    justify-content: space-evenly;
    background-color:#111236;
    color: white;
    margin-top: 15%;
    height: 100px;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
}

.flight_search-column {
    margin-right: 5px;
    margin-bottom: 5px;
}
.child {
    border-bottom: 10px;
    margin-bottom: 10px;
}

.no_flights_found {
    padding-top: 5px;   
}

.result_box {
    padding-top: 20px;
    width: 70%;
    padding-left: 25%;
    overflow: auto;
}

.footer_nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 115px;
    width: 100%;
    border-top: solid black;
    background-color: rgb(1, 112, 156);
    align-items: center;
    color: white;
    height: 12.5%;
}

.booking_forms {
    width: 35%;
    margin-left: 35%;
}

.booking_form_header{
    margin-top: 5px;
    width: 95%;
    margin-bottom: 10px;
}

.booking_form_information {
    margin-left: 0%;
    margin-bottom: 10px;
}

.booking_submit_button {
    margin-top: 10px;
}

.booking_information {
    margin-left: 5px;
}

.dropdown_options {
    display: contents;
}

@keyframes fadein {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .flight_search_nav_container {
      margin-top: 46%;
    }

    .nav_bar_container {
        flex-direction: column;
    }

    .flight_selector {
        width: 100%;
    }

    .flight_search_option {
        height: 60px;
    }
  }